body {
  margin: 0;
}

.home-container {
  width: 100vw;
  height: 100vh;
  background: #f2e9e4;
}

h1 {
  margin: 0;
}

.navbar,
.header {
  text-align: center;
}
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 15px 15px;
  .title {
    font-size: 18px;
    cursor: pointer;
    text-decoration: none;
    color: #161b1f;
    &:hover {
      color: #9a8c98;
    }
  }
}
.header {
  padding: 40px 0 50px 0;
  h1 {
    font-weight: bold;
    font-size: 100px;
    color: #4a4e69;
  }
}

.start-container {
  display: flex;
  justify-content: center;
  .start__link {
    text-decoration: none;
    background: #c9ada7;
    color: #000000;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    padding: 15px 20px;
    cursor: pointer;
    &:hover {
      background: #4a4e69;
      color: #f2e9e4;
    }
  }
}

@media (max-width: 576px) {
  .header {
    h1 {
      font-size: 80px;
    }
  }
}

